export PATH="/Users/josephhunt/Conjur/dap-demo-env/.minishift/cache/oc/v3.9.0/darwin:$PATH"
# Run this command to configure your shell:
# eval $(minishift oc-env)
export DOCKER_TLS_VERIFY="1"
export DOCKER_HOST="tcp://192.168.99.100:2376"
export DOCKER_CERT_PATH="/Users/josephhunt/Conjur/dap-demo-env/.minishift/certs"
# Run this command to configure your shell:
# eval $(minishift docker-env)
export DOCKER_REGISTRY_PATH=172.30.1.1:5000
export CONJUR_MASTER_HOST_IP=192.168.99.100
