# Set location of OC cluster config file
export MINISHIFT_HOME=~/Conjur/dap-demo-env/.minishift
export KUBECONFIG=~/Conjur/dap-demo-env/oc-kube/config

# Set Docker env:
#  DOCKER_TLS_VERIFY
#  DOCKER_HOST
#  DOCKER_CERT_PATH
eval $(minishift docker-env)

# Add oc directory to PATH
eval $(minishift oc-env)
