############################################################
# OPENSHIFT CONFIG 
############################################################
export MINISHIFT=true
export TEST_APP_NAMESPACE_NAME=test-app
export DOCKER_REGISTRY_PATH=172.30.1.1:5000
export OSHIFT_CLUSTER_ADMIN_USERNAME=system:admin
export OSHIFT_CONJUR_ADMIN_USERNAME=developer
export CONJUR_SERVICEACCOUNT_NAME=conjur-cluster
export AUTHENTICATOR_ID=dev1
export CONJUR_FOLLOWER_COUNT=1
