############################################################
# OPENSHIFT CONFIG 
############################################################
export MINISHIFT=false
export TEST_APP_NAMESPACE_NAME=test-app
export DOCKER_REGISTRY_PATH=docker-registry.default.svc:5000
export OSHIFT_CLUSTER_ADMIN_USERNAME=admin
export OSHIFT_CONJUR_ADMIN_USERNAME=admin
export CONJUR_SERVICEACCOUNT_NAME=conjur-cluster
export AUTHENTICATOR_CLIENT_IMAGE=cyberark/conjur-kubernetes-authenticator:latest
export AUTHENTICATOR_ID=dev1
export CONJUR_AUTHENTICATORS=authn-k8s/$AUTHENTICATOR_ID
export CONJUR_FOLLOWER_COUNT=1
export CONJUR_CONFIG_MAP=conjur-config
